<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="display">
  <xacro:arg name="use_tower" default="false" />
  <xacro:include filename="$(find tita_description)/diablo_plus_pro/xacro/materials.xacro"/>
  <xacro:include filename="$(find tita_description)/diablo_plus_pro/xacro/description.xacro" />

  <xacro:description />

</robot>